.founder {
    overflow-x: hidden;
    .delete-1 {
        padding-right: 2rem;
    }
    color: black;
    // padding-bottom: 50px;
    position: relative;
    // overflow: hidden;
    // max-width: 140ch;
    .short-text {
        font-size: 0.6rem;
        // height: fit-content;
    }
    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        // transform: scale(2.1) translateX(27%);
        // position: absolute;
        width: 60%;
        height: auto;
        // height: fit-content;
        // overflow: scroll;
        // top: -400px;
        // height: 10%;
        // white-space: nowrap;
        // object-fit: cover;
    }
    // .img-cont {
    //     // height: auto;
    //     padding: 0;
    //     // min-height: 300px;
    //     // background-image: url("../../../../assets/Assembly_cropped.jpg");
    // }
    // .container-fluid {
    //     display: table;
    // }
    // .storytext {
    //     // padding-right: 0;
    //     // width: 70ch;
    //     // padding-right: 10rem;
    // }
    // .our-story {
    //     // max-width: 70ch;
    //     padding-right: 1rem;
    //     // padding-left: 1rem!important;
    // }
    // @media (max-width: 61.99em) {
    //     .our-story {
    //         padding-right: 0.5rem;
    //         // padding-left: 1rem!important;
    //     }
    // }
    // @media (max-width: 35.99em) {
    //     .ourjourney-heading {
    //         font-size: 2rem;
    //     }
    // }
}

// 1700px
@media (max-width: 106.25em) {
}

//1600px
@media (max-width: 100em) {
    .founder {
        img {
            width: 70%;
        }
    }
}

//1550px
@media (max-width: 96.875em) {
    // .founder {
    //     img {
    //         width: 120%;
    //     }
    // }
}
//1450px
@media (max-width: 90.625em) {
    // .our-story {
    //     img {
    //         width: 140%;
    //     }
    // }
}

// // X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
    .founder {
        img {
            width: 80%;
        }
    }
}
//1350px
@media (max-width: 84.375em) {
    // .our-story {
    //     img {
    //         width: 160%;
    //     }
    // }
}
//1260px
@media (max-width: 78.75em) {
    // .our-story {
    //     img {
    //         width: 180%;
    //     }
    // }
}

//1260px
@media (max-width: 73.125em) {
    // .our-story {
    //     img {
    //         width: 200%;
    //     }
    // }
}

//1110px
@media (max-width: 69.37em) {
    // .our-story {
    //     img {
    //         width: 200%;
    //     }
    // }
}

// 1300px
@media (max-width: 81.25em) {
    .founder {
        img {
            width: 90%;
        }
    }
}

// // Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
    .founder {
        img {
            width: 100%;
        }
    }
}

// // Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .founder {
        padding: 0 10% !important;
        img {
            width: 40%;
        }
    }
    // .our-story {
    //     .global-space-col {
    //         flex: 0 0 25%;
    //         max-width: 25%;
    //     }
    //     .global-text-col {
    //         flex: 0 0 66.666667%;
    //         max-width: 66.666667%;
    //     }
    // }
}

// 884px
@media (max-width: 55.25em) {
    // .our-story {
    //     .global-space-col {
    //         flex: 0 0 0%;
    //         max-width: 0%;
    //     }
    //     .global-text-col {
    //         flex: 0 0 99.666667%;
    //         max-width: 99.666667%;
    //         padding: 0 10%;
    //     }
    // }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .founder {
        img {
            width: 60%;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .founder {
        img {
            width: 100%;
        }
    }
}
