.LatestNews {
    padding-top: 1.875rem;
    padding-left: 1.25rem;
    padding-bottom: 6.25rem;
    overflow-x: hidden;
    .heading1 {
        h1 {
            padding-right: 2rem;
        }
    }
    
}

// 1084px
@media (max-width: 67.75em) {
    .LatestNews {
        .container-fluid {
        .hide3 {
            display: none;
        }
    }
    }
    
}
// 800px
@media (max-width: 50em) {
    .LatestNews {
        .container-fluid {
        .hide2 {
            display: none;
        }
    }
    }
    
}
@media (max-width: 47.99875em) {
    .LatestNews {
        padding-left: 0;
        .heading1 {
            h1 {
                padding-right: 0;
            }
        }
    }
}
// 550 px
@media (max-width: 34.375em) {
    .LatestNews {
        .container-fluid {
        .hide1 {
            display: none;
        }
    }
    }
}