.LatestNews {
    padding-top: 1.875rem;
    // padding-left: 1.25rem;
    padding-bottom: 6.25rem;
    overflow-x: hidden;
}

// 1084px
@media (max-width: 67.75em) {
}
// 800px
@media (max-width: 50em) {
}
@media (max-width: 47.99875em) {
    .LatestNews {
        padding-left: 0;
    }
}
// 550 px
@media (max-width: 34.375em) {
}

// 1700px
@media (max-width: 106.25em) {
}

//1600px
@media (max-width: 100em) {
}

//1500px
@media (max-width: 93.75em) {
}

// // X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// 1300px
@media (max-width: 81.25em) {
    .LatestNews {
        .container-fluid {
            .col-md-3 {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }
            .hide3 {
                display: none;
            }
        }
    }
}

// // Large devices (desktops, less than 1200px)
// @media (max-width: 74.99875em) {
// }

// // Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    .LatestNews {
        .container-fluid {
            .col-md-3 {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .hide2 {
                display: none;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
    .LatestNews {
        .container-fluid {
            .col-md-3 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .hide1 {
                display: none;
            }
        }
    }
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
