.LatestNews {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 100px;
    overflow-x: hidden;
    .bigger-text {
        font-size: 1.4rem;
    }
    .indented {
        padding-left: 100px;
        padding-bottom: 20px;
    }
}