.kitchen-component {
    img {
        width: 100%;
        left: -5%;
        // min-width: 250px;
        align-content: center;
        margin-bottom: 1rem;
        // transform: rotate(90deg);
        top: 0;

    }
    p {
        text-align: justify;
    }
}