@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import "~bootstrap/scss/bootstrap";
html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.MuiFormControl-root {
  width: 100% !important;
}

.App-link {
  color: #61dafb;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
* {
  font-family: 'Raleway', sans-serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin-global-top {
  margin-top: 3.125rem;
}
.padding-global-top-page-start {
  padding-top: 12.5rem;
}
.some-padding {
  padding-bottom: 1rem;
}

.content-read {
  font-size: 0.9rem;
  color: black;
}

.content-read-heading {
  font-size: 1.5rem;
  color: #e3aa58;
  font-weight: 600;
}

.text-justify {
  text-align: justify !important;
}

.global-padding-left {
  padding-left: 6.25rem !important;
}
.global-padding-right {
  padding-right: 6.25rem !important;
}

.global-margin-bottom {
  margin-bottom: 3.75rem;
}

.global-indented {
  padding-left: 6.25rem;
  padding-bottom: 1.25rem;
}

.title-card {
  font-weight: 800;
  font-size: 1.5rem;
}
@media (max-width: 61.99875em) {
  // .our-story {
      .global-space-col {
          flex: 0 0 25% !important;
          max-width: 25% !important;
      }
      .global-text-col {
          flex: 0 0 66.666667% !important;
          max-width: 66.666667% !important;
      }
  // }
}

.footer-spacing {
  margin-top: 5rem;
}

// 884px
@media (max-width: 55.25em) {
  // .our-story {
      .global-space-col {
          flex: 0 0 0% !important;
          max-width: 0% !important;
      }
      .global-text-col {
          flex: 0 0 99.666667% !important;
          max-width: 99.666667% !important;
          padding: 0 10% !important;
      }
  // }
}

@media (max-width: 61.99em) {
  .global-padding-left {
      padding-left: 2rem !important;
    }
  }

  @media (max-width: 48em) {
    .global-padding-left {
        padding-left: 0rem !important;
      }
    }


  .page {
    position: absolute;
    background-color: white;
    width: 100%;
  }
  
  .page-enter {
    opacity: 0;
    // transform: scale(1.1);
  }
  
  .page-enter-active {
    opacity: 1;
    // transform: scale(1);
    transition: opacity 250ms;
  }
  
  .page-exit {
    opacity: 1;
    // transform: scale(1);
  }
  
  .page-exit-active {
    opacity: 0;
    // transform: scale(0.9);
    transition: opacity 250ms;
  }