.container_card {
    position: relative;
    text-align: center;
    // color: white;



}

.bottom-left {
    position: absolute;
    bottom: -10px;
    left: 20px;
    color:  black; 
        background-color: #e38454;
        border-radius: 30px;
        padding: 5px 15px;
        font-weight: 800;
}