.container_card {
    position: relative;
    text-align: center;
    // color: white;



}

.bottom-left {
    position: absolute;
    bottom: -0.625rem;
    left: 1.25rem;
    color:  black; 
        background-color: #e38454;
        border-radius: 1.875rem;
        padding: 0.313rem 0.938rem;
        font-weight: 800;
}