.mainnavbar {
  font-family: "Raleway";
  font-weight: bolder;
  position: absolute;
  z-index: 999;
  width: 100%;
  .spacing-right {
    position: relative;
    right: 2rem;
  }
  .navbartext {
    margin-right: 0.625rem;
    font-size: 1.3rem;
    color: #1d1e20 !important;
    text-decoration: none;
    padding: 0.625rem 0 !important;
    margin: 0 1.25rem;
    transition: ease-in-out 0.3s;
    &:hover {
      color: #000 !important;
    }
  }
  .navbardonate {
    font-size: 1.3rem;

    text-decoration: none;
    //  color: #4c483f !important;
    color: #1d1e20 !important;
    background-color: #e38454;
    border-radius: 3.125rem;
    padding: 0.625rem 1.25rem !important;
    border: 0.0625rem solid #e38454;
    transition: ease-in-out 0.3s;
    &:hover {
      background-color: transparent;
    }
    &:active,
    &:focus {
      background-color: #f1b99d;
    }
  }

  .navbar {
    padding-top: 0;
  }
  .navbarlogo {
    img {
      width: 6.875rem;
      height: 6.875rem;
    }
    padding: 1rem 1rem 1rem 1rem;

    position: relative;
    top: 0;
    left: 2rem;
    margin-right: auto;
    background-color: rgba(217, 226, 197, 1);
    width: fit-content;
    height: fit-content;
  }
  .sidebar {
    .hamburger-icon {
      display: none;
    }
  }
  .about-hover {
    position: relative;
    .about-dropdown {
      display: none;
      position: absolute;
      white-space: nowrap;
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      padding: 1rem;
      line-height: 1.1rem;
      .navbartext {
        // color: #e38454 !important;
        // color: #ffffff !important;
        color: black !important;
      }
      li {
        list-style: none;
      }
    }
    &:hover {
      .about-dropdown {
        display: block;
      }
    }
  }
}
@media (max-width: 106.25em) {
}

//1600px
@media (max-width: 100em) {
}

//1500px
@media (max-width: 93.75em) {
  .mainnavbar {
    .navbartext {
      margin: 0 0.9rem;
    }
  }
}

// // X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
  .mainnavbar {
    .navbartext {
      margin: 0 0.8rem;
    }
    .spacing-right {
      right: 0rem;
    }
    .navbarlogo {
      left: 0rem;
    }
  }
}

// 1300px
@media (max-width: 81.25em) {
  // .mainnavbar {
  //   .navbartext {
  //     margin: 0 0.7rem;
  //   }
  //   .spacing-right {
  //     right: 0rem;
  //   }
  //   .navbarlogo {
  //     left: 0rem;
  //   }
  // }
  .mainnavbar {
    .navbar-nav {
      display: none;
    }
    .sidebar {
      z-index: 10000000000 !important;
      .sidebar-slider {
        position: relative;
        z-index: 99999999999999;
      }
      .hamburger-icon {
        top: 1rem;
        position: absolute;
        display: block;
        right: 1rem;
        .MuiSvgIcon-fontSizeLarge {
          font-size: 3rem;
        }
      }
    }
  }
}

// // Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
  .mainnavbar {
    .navbarlogo {
      img {
        width: 6.25rem;
        height: 6.25rem;
      }
    }
  }
  // .mainnavbar {
  //   .navbar-nav {
  //     display: none;
  //   }
  //   .sidebar {
  //     z-index: 10000000000 !important;
  //     .sidebar-slider {
  //       position: relative;
  //       z-index: 99999999999999;
  //     }
  //     .hamburger-icon {
  //       top: 1rem;
  //       position: absolute;
  //       display: block;
  //       right: 1rem;
  //       .MuiSvgIcon-fontSizeLarge {
  //         font-size: 3rem;
  //       }
  //     }
  //   }
  // }
}
// // Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
  .mainnavbar {
    .navbarlogo {
      left: 0rem;
    }
  }
}
// 768
@media (max-width: 47.99875em) {
  .mainnavbar {
    .navbarlogo {
      img {
        width: 5.625rem;
        height: 5.625rem;
      }
  }
}
}

// 576
@media (max-width: 36em) {
  .mainnavbar {
    .navbarlogo {
      img {
        width: 5rem;
        height: 5rem;
      }
  }
}
}
