.futurePortion {
    width: auto;
    height: fit-content;
    padding: 50px;
    background-image: url('../../../../assets/client/crumpled-white-paperboard.jpg');
    background-size: auto auto;
    // background-position: 100px 0px; 
    .rowicons {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .col-md-3 {
        padding-right: 0;
        padding-left: 45px;
    }
    .basichead{
        font-weight: 800;
        font-size: 1.3em;
    }
    .info {
        width: 310px;
        font-weight: 500;
    }
    .section2 {
        p {
            width: 290px;
        }
    }
}