.signupform {
    position: relative;
    .row {
        position: relative;
        .submitButton {
            width: fit-content;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 1rem;
        }
    }
    .heading1 {
        h1 {
            padding-right: 2rem;
        }
    }
    // padding-left: 100px;
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
    background-image: url('../../../../assets/client/crumpled-white-paperboard.jpg');
    // background-size: auto auto;
    background-size: cover;
    overflow-x: hidden;
    input, textarea {
        width: 100%;
        // max-width: 500px;
        // margin: 10px;
        border: 0.1875rem solid #e38454 !important;
        font-family: 'Jost', sans-serif !important;
        font-weight: 300 !important;
        // font-size: 25px !important;
        background-color: transparent;
        resize: none;
        border-radius: 0.625rem !important;
        &:focus {
            box-shadow: none !important;
            background-color: transparent;
        }
    }
    .react-tel-input {
        .flag-dropdown.open {
            z-index: 2;
            background: transparent  !important;
            border-radius: 0.625rem 0 0 0.625rem;
        }
        .flag-dropdown {
            background-color: transparent !important;
            border: 0.1875rem solid #e38454;
            border-right: 0;
            border-radius: 0.625rem 0 0 0.625rem;
        }
        .form-control {
            background: transparent;
        }
        .selected-flag {
            background: transparent !important;
            border-radius: 0.625rem 0 0 0.625rem;
        }
    }
    .react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
        background-color: transparent;
    }
    .react-tel-input .form-control {
        width: 100%;
    }
}

// 992px
@media (max-width: 62em) {
    .signupform {
    .col-md-3, .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
}

@media (max-width: 48em) {
    .signupform {
        .heading1 {
            h1 {
                padding-right: 0;
            }
        }
    }
}