.OurStory {
    // padding-bottom: 50px;
    .short-text {
        font-size: 0.6rem;
    }
    img {
        width: 100%;
        filter: grayscale(100%);
    }
    .img-cont {
        padding: 0;
    }
    .storytext {
        padding-right: 50px;
    }
}