.imagebw {
    width: 100%;
    position: absolute;
}
.col {
    padding: 0;
    margin: 0;
}
.zeropadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
    // padding: 0 !important;
    // padding-left: 0;
    // padding-right: 0;
    // margin: 0;

}

.imgtext {
      position: relative;
  text-align: center;
  width: 100%;
  margin-top: 25%;
  font-weight: bolder;
  color: red;
  font-size: 2em;
  
//   left: 50%;

    
}