.MessageFounder {
    // height: fit-content;
    h1 {
        font-weight: bolder;
    }
    h2 {
        margin-top: 10px;
        font-weight: 400;
        font-size: 1.3rem;
        margin-bottom: -5px;
    }
    font-weight: 500;
    img {
        width: 350px;
        // left: 50%;
        // transform: translateX(-50%);
        position: relative;
    }
}
