.imgcontainers {
  position: relative;
  text-align: center;
  .imagebw {
    width: 100%;
    filter: grayscale(100%);
    transition: ease-in-out .3s;
    cursor: pointer;
  }
  .centeredimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  &:hover {
    .imagebw {
      filter: grayscale(50%);
    }
  }
}