.governers {
    img {
        width: 100%;
    }
    .spacing-board {
        margin-bottom: 1.9rem;
    }

    // .text-left {
    //     padding-left: 70px;
    // }
}

// 1700px
@media (max-width: 106.25em) {
}

//1600px
@media (max-width: 100em) {
}

//1500px
@media (max-width: 93.75em) {
}

// // X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// 1300px
@media (max-width: 81.25em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
}

// 1100px
@media (max-width: 68.75em) {
    .governers {
        .hide-1100 {
            display: none;
        }
        .governers-image {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}
// 1000px
@media (max-width: 62.5em) {
}

// // Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
    // .governers {
    //     .hide-1100 {
    //         display: none;
    //     }
    // }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
    .governers {
        .governers-image {
            order: 0;
            min-width: 15rem;
        }
        .governer-heading-768 {
            text-align: center;
            margin-top: 0.6rem;
        }
        // .governer-content-768 {
        // }
        .governer-person {
            order: 1;
            text-align: justify;
            padding: 0 10%;
        } 
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}